
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #3e21c0;
}

.login-card{
  background: #fff;
  padding: 30px 120px;
  width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 12px;
  text-align: center;
}

.temp{
  background-color: red;
}